@model IEnumerable<Ejecuciones.Models.Despacho>

@{
    ViewData["Title"] = "Despachos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Despachos</h1>

<p>
    <a asp-action="Create">Nuevo Despacho</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreDespacho)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDespacho)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DespachoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.DespachoId">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.DespachoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
