@model IEnumerable<Ejecuciones.Models.Fallador>

@{
    ViewData["Title"] = "Juzgados Falladores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Juzgados Falladores</h1>

<p>
    <a asp-action="Create">Nuevo Fallador</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JuzgadoFallador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Municipio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JuzgadoFallador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento.NombreDepartamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Municipio.NombreMunicipio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FalladorId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.FalladorId">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.FalladorId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
