@model Ejecuciones.Models.Departamento

@{
    ViewData["Title"] = "Departamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalle</h1>

<h3>Departamentos</h3>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoDepartamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoDepartamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDepartamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDepartamento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DepartamentoId">Editar</a> |
    <a asp-action="Index">Volver a la Lista</a>
</div>
