@model IEnumerable<Ejecuciones.Models.Departamento>

@{
    ViewData["Title"] = "Departamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Departamentos</h1>

<p>
    <a asp-action="Create">Nuevo Departamento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoDepartamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoDepartamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DepartamentoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.DepartamentoId">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.DepartamentoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
