@model IEnumerable<Ejecuciones.Models.Solicitud>

@{
    ViewData["Title"] = "Registrar Solicitudes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registrar Solicitudes</h1>

<p>
    <a asp-action="Create">Nueva Solicitud</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SolicitudId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaSolicitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CedulaCondenado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombresCondenado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidosCondenado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Despacho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoSolicitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoSolicitud)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SolicitudId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSolicitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaCondenado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombresCondenado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidosCondenado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Despacho.NombreDespacho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoSolicitud.NombreSolicitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoSolicitud.NombreEstadoSolicitud)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SolicitudId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.SolicitudId">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.SolicitudId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
