@model Ejecuciones.Models.Municipio

@{
    ViewData["Title"] = "Municipios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>

<h3>Municipios</h3>

<h6>Confirma que desea eliminar el siguiente registro?</h6>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoMunicipio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoMunicipio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreMunicipio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreMunicipio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departamento.NombreDepartamento)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MunicipioId" />
        <input type="submit" value="Eliminar" class="btn btn-primary" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
