@model Ejecuciones.Models.Municipio

@{
    ViewData["Title"] = "Municipios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalle</h1>
<h3>Municipios</h3>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoMunicipio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoMunicipio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreMunicipio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreMunicipio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departamento.NombreDepartamento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MunicipioId">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
