@model IEnumerable<Ejecuciones.Models.Municipio>

@{
    ViewData["Title"] = "Municipios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Municipios</h1>

<p>
    <a asp-action="Create">Nuevo Municipio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoMunicipio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoMunicipio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MunicipioId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.MunicipioId">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.MunicipioId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
