@model IEnumerable<Ejecuciones.Models.CargoEmpleado>

@{
    ViewData["Title"] = "Cargo Empleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cargo Empleados</h1>

<p>
    <a asp-action="Create">Nuevo Cargo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCargo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCargo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CargoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CargoId">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.CargoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
