@model Ejecuciones.Models.Funcionario

@{
    ViewData["Title"] = "Funcionarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalle</h1>

<h3>Funcionarios</h3>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Despacho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Despacho.NombreDespacho)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FuncionarioId">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
