@model IEnumerable<Ejecuciones.Models.EstadoProceso>

@{
    ViewData["Title"] = "Estado Proceso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Estado Proceso</h1>

<p>
    <a asp-action="Create">Nuevo Estado</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreEstadoProceso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEstadoProceso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EstadoProcesoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.EstadoProcesoId">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.EstadoProcesoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
