@model Ejecuciones.Models.Proceso

@{
    ViewData["Title"] = "Procesos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>

<h3>Procesos</h3>

<h6>Confirma que desea eliminar el siguiente proceso?</h6>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProcesoId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProcesoId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaProceso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaProceso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RadicadoProceso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RadicadoProceso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fallador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fallador.JuzgadoFallador)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CuadernosProceso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CuadernosProceso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoliosProceso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoliosProceso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnexosProceso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnexosProceso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Despacho)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Despacho.NombreDespacho)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoProceso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoProceso.NombreEstadoProceso)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProcesoId" />
        <input type="submit" value="Eliminar" class="btn btn-primary" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
